.column_images img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.column_images img:last-child {
    margin-bottom: 0;
}

.inProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid 2px white;
    border-radius: 10px;
    padding: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.column_images img:hover,
.inProgress:hover {
    transform: scale(102%);
    box-shadow: 0 0 20px #cc8585;
}

.column_images img:active {
    transform: scale(100%);
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 1.5vw, 100px);
    background-color: rgba(0, 0, 0, 0.747);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.795);
    width: 100%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    text-align: center;
    user-select: none;
}

.column_images img:hover + figcaption {
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 500px) {
    .inProgress {
        padding: 20px 0;
    }
}