.drawing {
    position: relative;
    width: 700px;
    height: 40vh;
    background-color: #464c57;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.inProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid 2px white;
}

.drawing:hover .p1 {
    animation: windowHover 0.7s ease-in-out 1;
}

.drawing:hover .p2 {
    animation: windowHover 0.8s ease-in-out 1;
}

.inProgress:hover {
    box-shadow: none;
}

main .drawing1 {
    background-image: url("../img/projects/sunrise.png");
}

main .drawing2 {
    background-image: url("../img/projects/mood_ghibli.png");
}

main .drawing3 {
    background-image: url("../img/projects/stan_portal.png");
}

main .drawing4 {
    background-image: url("../img/projects/montsaintmichel.png");
}

main .drawing5 {
    background-image: url("../img/projects/spirited_away.png");
}
 
main .drawing6 {
    background-image: url("../img/projects/week-end.png");
}

main .drawing7 {
    background-image: url("../img/projects/outer_wilds.png");
}

main .drawing8 {
    background-image: url("../img/projects/bike_ride.png");
}

main .drawing:hover {
    transform: scale(105%);
    box-shadow: 0 0 20px #9c9c9c;
}

main .drawing:active {
    transform: scale(100%);
}

.gauche {
    align-self: flex-start;
}

.droite {
    align-self: flex-end;
}

.drawing h3 {
    background: linear-gradient(rgba(0, 0, 0, 0.637), #00000097, #00000067);
    box-shadow: 0 5px 50px black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding: 15px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drawing:hover h3 {
    opacity: 1;
}

@keyframes windowHover {
    0% {
        transform: translateX(0);
        fill: white;
    }

    100% {
        transform: translate(150%);
        fill: white;
    }
}

@media screen and (max-width: 1150px) {
    .drawing {
        width: 90%;
        align-self: auto;
    }

    .drawing h3 {
        opacity: 1;
        width: 100%;
    }
}