.svg_rocket {
    cursor: pointer;
    position: fixed;
    filter: drop-shadow(0 40px 15px rgb(255, 240, 25));  
    top: 10px;  
    right: 0;
    background: url("../img/rocket/rocket.png");
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 200px;
    z-index: 2;
    margin: 1em;
    transition: transform 0.8s ease-in-out;
}

.svg_rocket.animation {
    background: url('../img/rocket/rocket_animation.png') 0px 0px;
    background-size: 1200px 200px;
    animation: rocketFire 0.8s steps(10) infinite, rocketMove 2s ease-in-out infinite;
}

#tooltip_rocket {
    position: fixed;
    margin: 20px;
    padding: 10px 9px;
    right: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 0 10px #545454;
    color: white;
    z-index: 3;
    opacity: 0;
    width: 250px;
    height: 240px;
    height: max-content;
    transition: opacity 0.2s ease-in-out;
}

#tooltip_rocket:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(12, 12, 12);
    border-radius: 8px;
    right: -13px;
    top: 45px;
}

.tooltip-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
}

.tip {
    position: relative;
}

.listDrawingTooltip {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.listDrawingTooltip a {
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.listDrawingTooltip a:hover {
    background-color: rgba(185, 185, 185, 0.342);
}

.launchRocket {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: pixelart;
    font-size: 20px;
    background-color: #ad2929;
    color: white;
    text-decoration: none;
    border: solid 2px rgb(3, 15, 37);
    padding: 10px 9px 7px 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform-style: preserve-3d;
    z-index: 3;
    box-shadow: 0 10px 0 black;
    transition: opacity 0.2s ease-in-out !important;
    animation: hideLaunchButton 0.4s ease-out forwards;
}

.launchRocket.show {
    animation: showLaunchButton 0.4s ease-out forwards;
}

.launchRocket:active {
    background: rgb(3, 15, 37);
    box-shadow: 0 0 0 black;
    transform: translate(0em, 10px) !important;
}

.launchRocket:hover {
    background-color: #952f2f;
}

.launchRocket:hover:active {
    background: rgb(3, 15, 37);
}

.pixelSmoke {
    background-color: rgba(153, 153, 153, 0.774);
    position: absolute;
    z-index: 3;
    transition: right 1.5s ease-out, bottom 1.5s ease-out, background-color 1s;
    opacity: 0;
}

@keyframes rocketFire {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1200px 0;
    }
  }

@keyframes showLaunchButton {
    0% {transform: scale(0);}

    80% {transform: scale(1.1);}

    100% {transform: scale(1);}
}

@keyframes hideLaunchButton {
    0% {transform: scale(1);}

    80% {transform: scale(1.1);}

    100% {transform: scale(0);}
}


@keyframes rocketMove {
    0% {transform: translateY(5px);}

    50% {transform: translateY(-5px);}

    100% {transform: translateY(5px);}
}