.mini-star {    
    background-color: white;
    position: absolute;
    will-change: opacity, transform;
    cursor: pointer;
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}