:root {
    --path-projects: "../img/projects/";
 }

@font-face {
    font-family: lele;
    src: url("../fonts/stolen.ttf");
}

@font-face {
    font-family: pixelart;
    src: url("../fonts/Minecraft.ttf");
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(black, #230e70, #1a0d46, #020f24, #020f24, #7a4ba5, #298d67, #093885, #186bf1);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    position: relative;
    z-index: 1;
    height: 700px;
    background: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2, h3, p, div {
    font-family: lele;
    color: white;
}

h1 {
    font-size: clamp(10px, 8vw, 60px);
    text-align: center;
}

h2 {
    font-size: clamp(10px, 8vw, 40px);
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 1;
    margin: 0 10% 130px 10%;
}

.footer_left_image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 575px;
    height: 400px;
}

.smooth-scroll {
    scroll-behavior: auto;
    transition-timing-function: ease-in;
}

@keyframes launchButton {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@media screen and (max-width: 850px) {
    main {
        margin: 0 90px 0 0;
    }
}

@media screen and (max-width: 770px) {
    .footer_left_image {
        display: none;
    }
}