:root {
    --path-projects: "../img/projects/";
 }

@font-face {
    font-family: lele;
    src: url("../fonts/stolen.ttf");
}

@font-face {
    font-family: pixelart;
    src: url("../fonts/Minecraft.ttf");
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: linear-gradient(black, #230e70, #1a0d46, #020f24, #020f24, #7a4ba5, #298d67, #093885, #186bf1);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    position: relative;
    z-index: 1;
    height: 700px;
    background: url("../img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2, h3, p, div {
    font-family: lele;
    color: white;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: clamp(10px, 8vw, 40px);
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 1;
    margin: 0 10% 130px 10%;
}

.footer_left_image {
    position: absolute;
    width:575px;
    height:400px;
    bottom: 0;
    left: 0;
}

.launchRocket {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: pixelart;
    font-size: 20px;
    background-color: #d13333;
    color: white;
    text-decoration: none;
    border: solid 2px rgb(22, 51, 105);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: background 0.1s ease-in-out;
}

.launchRocket::before {
    position: absolute;
    content: "";
    width: 183px;
    height: 40px;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 0;
    background: rgb(22, 51, 105);
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
}

.launchRocket:active {
    background: rgb(22, 51, 105);
    transform: translate(0em, 10px);
}

.launchRocket:active::before {
    transform: translate3d(0, 0, -1em);
}

.launchRocket:hover {
    background-color: #952f2f;
}

.launchRocket:hover:active {
    background: rgb(17, 40, 82);
}

.pixelSmoke {
    background-color: rgba(90, 56, 56, 0.527);
    position: absolute;
    z-index: 3;
    transition: right 1.5s ease-out, bottom 1.5s ease-out, background-color 1s;
    opacity: 0;
}

.smooth-scroll {
    scroll-behavior: auto;
    transition-timing-function: ease-in;
}

@keyframes launchButton {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@media screen and (max-width: 850px) {
    main {
        margin: 0 90px 0 0;
    }
}

@media screen and (max-width: 770px) {
    .footer_left_image {
        display: none;
    }
}