@font-face {
    font-family: lele;
    src: url("fonts/stolen.ttf");
}

body {
    background-color: #2d323b;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    height: 10em;
}

h1 {
    font-family: lele;
    color: white;
    font-size: 5em;
    margin: 3em;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessin {
    width: 45%;
    height: 40vh;
    background-color: #464c57;
    margin: 2em;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 200;
}

.dessin:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #1b1d21;
}

.gauche {
    align-self: flex-start;
}

.droite {
    align-self: flex-end;
}

@keyframes windowHover {
    0% {
        transform: translateX(0);
        fill: white;
    }

    100% {
        transform: translate(150%);
        fill: white;
    }
}

svg {
    height: 100%;
    width: 100%;
}


.dessin:hover .p1 {
    animation: windowHover 0.7s ease-in-out 1;
}

.dessin:hover .p2 {
    animation: windowHover 0.8s ease-in-out 1;
}

.svg_fusee {
    width: 50px;
    height: 100px;
    background-image: url("img/rocket.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 1%;
    top: 1%;
    z-index: 100;
    margin: 1em;
}

.svg_fusee.fusee_depart {
    animation: fuseeDepart 1s ease-in-out 1;
    transform: rotate(135deg);
}

.svg_fusee.fusee_arrivee {
    animation: fuseeArrivee 1s ease-in-out 1;
    transform: rotate(0deg);
}

@keyframes fuseeDepart {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(135deg);
    }
}

@keyframes fuseeArrivee {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(-0deg);
    }
}

.svg_fusee.rotate_top {
    animation: rotateTop 0.8s ease-in-out 1;
    transform: rotate(-45deg);
}

.svg_fusee.rotate_bottom {
    animation: rotateBottom 0.8s ease-in-out 1;
    transform: rotate(135deg);
}

@keyframes rotateTop {
    0% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes rotateBottom {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(135deg);
    }
}
