@font-face {
    font-family: lele;
    src: url("fonts/stolen.ttf");
}

body {
    background: linear-gradient(black, #020f24, #020f24, #20509e);
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    height: 20em;
    background: url("img/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2, h3 {
    font-family: lele;
    color: white;
}

h1 {
    margin: 3em;
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawing {
    position: relative;
    width: 700px;
    height: 40vh;
    background-color: #464c57;
    margin: 2em;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.inProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid 2px white;
}

.inProgress:hover {
    box-shadow: none;
}

.drawing1 {
    background-image: url("img/projects/sunrise.png");
}

.drawing2 {
    background-image: url("img/projects/mood_ghibli.png");
}

.drawing3 {
    background-image: url("img/projects/stanportal.png");
}

.drawing4 {
    background-image: url("img/projects/montsaintmichel.png");
}

.drawing:hover {
    transform: scale(105%);
    box-shadow: 0 0 20px #9c9c9c;
}

.drawing:active {
    transform: scale(100%);
}

.gauche {
    align-self: flex-start;
}

.droite {
    align-self: flex-end;
}

@keyframes windowHover {
    0% {
        transform: translateX(0);
        fill: white;
    }

    100% {
        transform: translate(150%);
        fill: white;
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    100% {
        opacity: 0.3;
        transform: scale(1);
    }
}

svg {
    height: 100%;
    width: 100%;
}

.drawing:hover .p1 {
    animation: windowHover 0.7s ease-in-out 1;
}

.drawing:hover .p2 {
    animation: windowHover 0.8s ease-in-out 1;
}

.svg_rocket {
    width: 50px;
    height: 100px;
    background-image: url("img/rocket.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: fixed;
    left: 100px;
    top: 100px;
    transform: rotate(35deg);
    z-index: 1;
    margin: 1em;
    transition: transform 0.8s ease-in-out;
    animation: animationRocket 1.5s ease infinite;
}

.mini-star {    
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.drawing h3 {
    background: linear-gradient(rgba(0, 0, 0, 0.637), #00000097, #00000067);
    box-shadow: 0 5px 50px black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding: 15px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.drawing:hover h3 {
    opacity: 1;
}