@font-face {
    font-family: lele;
    src: url("fonts/stolen.ttf");
}

body {
    background-color: #2d323b;
}

header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

footer {
    height: 10em;
}

h1 {
    font-family: lele;
    color: white;
    font-size: 5em;
    margin: 3em;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessin {
    width: 45%;
    height: 40vh;
    background-color: #464c57;
    margin: 2em;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 200;
    filter: opacity(0.8);
}


.dessin1 {
    background-image: url("img/projects/sunrise.png");
    background-position: center;
    background-size: cover;
}

.dessin2 {
    background-image: url("img/projects/mood_ghibli.png");
    background-position: center;
    background-size: cover;
}

.dessin:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px #1b1d21;
    filter: opacity(1);
}

.gauche {
    align-self: flex-start;
}

.droite {
    align-self: flex-end;
}

@keyframes windowHover {
    0% {
        transform: translateX(0);
        fill: white;
    }

    100% {
        transform: translate(150%);
        fill: white;
    }
}

svg {
    height: 100%;
    width: 100%;
}


.dessin:hover .p1 {
    animation: windowHover 0.7s ease-in-out 1;
}

.dessin:hover .p2 {
    animation: windowHover 0.8s ease-in-out 1;
}

.svg_fusee {
    width: 50px;
    height: 100px;
    background-image: url("img/rocket.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    left: 1%;
    top: 1%;
    z-index: 100;
    margin: 1em;
    transition: transform 0.8s ease-in-out;
}

.active {
    position: absolute;
    filter: opacity(1);
    left: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
}

.dessin.active .p1:hover, .dessin.active .p2:hover {
    animation: none;
}